/* cabeçalho */
html {
    font-family: sans-serif;
}
body{
    background-color: rgb(5, 4, 35);
    color: rgb(247, 211, 11);
    background-image: url("./assets/bg.png");
    overflow: hidden;
}
.header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.logo {
    position: absolute;
    top: 7px;
    left: 47.5%;
}
.capa{
    max-width: 550px;
    max-height: 550px;
    height: 100%;
    width: 100%;
    position:static;
    align-self: center;
}
.header-start {
    display: flex;
    align-items: center;
    width: 50%;
}
.header-start a {
    padding-left: 10px;
}
.header-end {
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
}
.header-end a {
    padding: 10px;
}

/* barra que separa o cabeçalho do conteúdo */
.bar {
    width: 100%;
    height: 5px;
    background-color: rgb(247, 211, 11);
    padding: 0px;
}

/* conteúdo dos guri do bompacast */
.content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-container {
    margin-left: 10%;
    width: 550px;
}
.text-container p {
    width: fit-content;
    block-size: auto;
}
